.files-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--max-width);
  width: 100%;
  height: 100%;
}

.files-content {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(var(--spacing-4), max-content));
  font-size: var(--font-size-2);
}

.files-header {
  background-color: var(--grey-800);
  font-weight: var(--font-weight-bold);
}

.files-content > * {
  padding: var(--spacing-4) var(--spacing-3);
}

.empty-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-4);
  min-height: var(--spacing-12);
  padding: var(--spacing-7) 0;
}

.empty-message-container svg {
  height: var(--spacing-11);
  width: var(--spacing-11);
}

.empty-message {
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-bold);
}

.files-row {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: solid 1px var(--grey-800);
}

.item-name {
  display: flex;
  gap: var(--spacing-1);
  text-decoration: none;
  color: var(--grey-100);
  margin-right: auto;
  overflow: hidden;
}

.item-name svg {
  height: var(--spacing-4);
  width: var(--spacing-4);
  min-width: var(--spacing-4);
}

.item-date {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.item-date .separator {
  display: none;
}

.folder-action {
  position: relative;
  justify-content: center;
}

.folder-action > button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.folder-button-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.files-header:nth-of-type(2),
.item-size {
  display: none;
}

.action-button {
  border: none;
  border-radius: var(--radius-small);
  background-color: var(--grey-700);
  color: var(--grey-100);
  padding: var(--spacing-1);
  box-shadow: var(--raise-grey-small), var(--raise-small-shadow);
}

.action-button svg {
  height: var(--spacing-5);
  width: var(--spacing-5);
}

.action-button:not(.toggle-action, .delete-folder) {
  background-color: var(--primary-700);
  color: var(--primary-100);
  box-shadow: var(--raise-primary-small), var(--raise-small-shadow);
}

.delete-folder {
  background-color: var(--accent-3-800);
  box-shadow: var(--raise-accent-3-small);
}

@media (min-width: 760px) {
  .files-container {
    border-left: solid 1px var(--grey-800);
    border-right: solid 1px var(--grey-800);
  }

  .files-content {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(var(--spacing-4), max-content));
    font-size: var(--font-size-3);
  }

  .empty-message-container {
    border-bottom: solid 1px var(--grey-800);
  }

  .item-date {
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-1);
  }

  .item-date .separator {
    display: block;
  }

  .files-header:nth-of-type(2),
  .item-size {
    display: flex;
  }

  .item-size {
    justify-content: flex-end;
  }
}
