.heading {
  max-width: var(--max-width);
  width: 100%;
  padding: 0 var(--spacing-4);
  margin-bottom: var(--spacing-4);
}

.folder-action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading h3 {
  font-size: var(--font-size-5);
}

.folder-action-container > .button-container {
  flex-basis: var(--spacing-11);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.folder-action-container > .button-container .padding {
  display: none;
}

.folder-action-container > .button-container button {
  border: none;
  border-radius: var(--radius-small);
  background-color: var(--primary-600);
  color: var(--primary-100);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-3) 0;
  box-shadow: var(--raise-primary-small), var(--raise-large-shadow);
  min-width: var(--spacing-11);
}

.folder-action-container > .button-container button.open-upload-modal-button {
  background-color: var(--primary-100);
  color: var(--primary-800);
  box-shadow: var(--raise-large-shadow);
}

.share-folder-container {
  margin-top: var(--spacing-5);
}

.label-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.public-folder-label {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-5);
  color: var(--grey-100);
  margin-bottom: var(--spacing-2);
  text-decoration: none;
}

.public-folder-label svg {
  height: var(--spacing-4);
  width: var(--spacing-4);
}

.stop-sharing-button {
  background-color: var(--accent-3-500);
  color: var(--grey-100);
  padding: var(--spacing-1) var(--spacing-3);
  border: none;
  border-radius: var(--radius-small);
}

.share-link-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  border: solid 1px var(--grey-800);
  padding: var(--spacing-1) var(--spacing-3);
  width: fit-content;
  font-size: var(--font-size-2);
}

.copy-button {
  padding: var(--spacing-1) var(--spacing-1);
  background-color: var(--grey-800);
  color: var(--grey-100);
  border: none;
  border-radius: 2px;
}

.copy-button svg {
  height: var(--spacing-4);
  width: var(--spacing-4);
}

.copy-button.success .copy-success-icon,
.copy-button.failure .copy-failure-icon {
  display: block;
  visibility: visible;
}

.copy-button.idle .copy-success-icon,
.copy-button.idle .copy-failure-icon {
  display: none;
  visibility: hidden;
}

.copy-button.success .copy-idle-icon,
.copy-button.success .copy-failure-icon {
  display: none;
  visibility: hidden;
}

.copy-button.failure .copy-idle-icon,
.copy-button.failure .copy-success-icon {
  display: none;
  visibility: hidden;
}

@media (pointer: fine) {
  .share-folder-container:hover .copy-button.idle {
    visibility: visible;
  }

  .copy-button.idle {
    visibility: hidden;
  }
}

@media (min-width: 760px) {
  .folder-action-container > .button-container .padding {
    grid-area: padding;
  }

  .new-folder-button {
    grid-area: new-folder;
  }

  .open-upload-modal-button {
    grid-area: open-upload;
  }

  .share-folder {
    grid-area: share-folder;
  }

  .folder-action-container > .button-container {
    display: grid;
    grid:
      "padding new-folder" 1fr
      "open-upload share-folder" 1fr /
      1fr 1fr;
    gap: var(--spacing-4);
  }
}
