.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  padding: 0 var(--spacing-4);
  margin-bottom: var(--spacing-4);
  width: 100%;
}

.heading h3 {
  font-size: var(--font-size-5);
}

.heading > .button-container {
  flex-basis: var(--spacing-11);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.heading > .button-container .padding {
  display: none;
}

.heading > .button-container button {
  border: none;
  border-radius: var(--radius-small);
  background-color: var(--grey-700);
  color: var(--grey-100);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-3) 0;
  box-shadow: var(--raise-grey-large), var(--raise-large-shadow);
  min-width: var(--spacing-11);
}

@media (min-width: 760px) {
  .heading > .button-container .padding {
    grid-area: padding;
  }

  .new-folder-button {
    grid-area: new-folder;
  }

  .open-upload-modal-button {
    grid-area: open-upload;
  }

  .share-folder {
    grid-area: share-folder;
  }

  .heading > .button-container {
    display: grid;
    grid:
      "padding new-folder" 1fr
      "open-upload share-folder" 1fr /
      1fr 1fr;
    gap: var(--spacing-4);
  }
}
