<dialog class="<%= className %>">
  <form action="<%= formAction %>" method="post">
    <label>
      Folder Name
      <input type="text" name="folderName" />
      <button type="submit"><%= buttonName %></button>
    </label>
  </form>
</dialog>
