DATABASE_URL=postgresql://user:password@host:port/database
SESSION_SECRET_ID=thisissomesecret
SUPABASE_STORAGE_URL=https://abcde.storage.supabase.co/storage/v1"
SUPABASE_SECRET_KEY=sssshhhhhhupabase
SUPABASE_BUCKET_NAME=users-files
