<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <main>
      <div class="heading">
        <h3>Folder name</h3>
        <button>Create a new folder</button>
      </div>
      <div class="files-content">
        <header>
          <p>Name</p>
          <p>Size</p>
          <p>Date</p>
        </header>
        <ul class="files-list"></ul>
      </div>
    </main>
  </body>
</html>
