<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs", { title: currentFolder.name }) %>
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/main-index.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main>
      <%- include("partials/components/index-heading.ejs", { currentFolder }) %>
      <%- include("partials/components/files-list/files-list.ejs", 
        { currentFolder, currentFolderList, currentFilesList }) %>
    </main>
    <script src="/scripts/folderOptions.js"></script>
    <script src="/scripts/folderActionToggle.js"></script>
  </body>
</html>
