<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs", { title: currentFolder.name }) %>
  </head>
  <body>
    <main>
      <div class="heading">
        <h3><%= currentFolder.name %></h3>
        <button>Create a new folder</button>
      </div>
      <div class="files-content">
        <header>
          <p>Name</p>
          <p>Size</p>
          <p>Date</p>
        </header>
        <ul class="files-list">
          <% currentFolderList.forEach((folder) => { %>
          <li><a href="./<%= folder.name %>"><%= folder.name %></a></li>
          <% }) %>
        </ul>
      </div>
    </main>
  </body>
</html>
