<% if (!currentFolder.is_root) { %>
<a href="../" class="item-name files-row">Parent directory</a>
<div class="files-row item-size"></div>
<div class="files-row"></div>
<div class="files-row"></div>
<% } %>
