.messages-container.error {
  display: flex;
  gap: var(--spacing-5);
  padding: var(--spacing-3) var(--spacing-3);
  margin-bottom: var(--spacing-6);
  max-width: var(--spacing-14);
  background-color: var(--accent-2-100);
  color: var(--accent-2-900);
}

.messages-container svg {
  height: var(--spacing-6);
  width: var(--spacing-6);
}

ul.messages {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  align-self: center;
  font-weight: var(--font-weight-bold);
  list-style: none;
}
