body {
  display: flex;
  justify-content: center;
  background-color: var(--grey-800);
}

main {
  display: block;
  padding: var(--spacing-4) var(--spacing-3);
  max-width: var(--max-width);
  width: 100%;
}

h3 {
  font-size: var(--font-size-9);
  margin-bottom: var(--spacing-6);
}

label {
  font-size: var(--font-size-5);
}

.input {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  margin-bottom: var(--spacing-4);
}

.input input {
  border: none;
  border-radius: var(--radius-small);
  padding: var(--spacing-1) var(--spacing-2);
  max-width: var(--spacing-14);
  font-size: var(--font-size-4);
  background-color: var(--grey-900);
  color: var(--grey-100);
  box-shadow: var(--inset), var(--inset-shadow);
}

button[type="submit"] {
  margin-top: var(--spacing-5);
  border: none;
  border-radius: var(--radius-small);
  padding: var(--spacing-3) var(--spacing-8);
  background-color: var(--grey-700);
  color: var(--grey-100);
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-bold);
  box-shadow: var(--raise-grey-large), var(--raise-large-shadow);
  margin-bottom: var(--spacing-5);
}

.prompt a {
  text-underline-offset: 2px;
}
