/* Scales definition */
:root {
  /* Spacing */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.5rem;
  --spacing-6: 2rem;
  --spacing-7: 3rem;
  --spacing-8: 4rem;
  --spacing-9: 6rem;
  --spacing-10: 8rem;
  --spacing-11: 12rem;
  --spacing-12: 16rem;
  --spacing-13: 24rem;
  --spacing-14: 32rem;
  --spacing-15: 40rem;
  --spacing-16: 48rem;

  /* Typography */
  --font-size-1: 0.75rem;
  --font-size-2: 0.875rem;
  --font-size-3: 1rem;
  --font-size-4: 1.125rem;
  --font-size-5: 1.25rem;
  --font-size-6: 1.5rem;
  --font-size-7: 1.875rem;
  --font-size-8: 2.25rem;
  --font-size-9: 3rem;
  --font-size-10: 3.75rem;
  --font-size-11: 4.5rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-length-small: 15em;
  --line-length-medium: 20em;
  --line-length-large: 30em;

  /* Color Shades */
  --grey-100: hsl(198, 45%, 95%);
  --grey-200: hsl(197, 30%, 86%);
  --grey-300: hsl(200, 23%, 79%);
  --grey-400: hsl(201, 10%, 62%);
  --grey-500: hsl(203, 7%, 45%);
  --grey-600: hsl(204, 19%, 34%);
  --grey-700: hsl(205, 34%, 23%);
  --grey-800: hsl(206, 42%, 10%);
  --grey-900: hsl(210, 54%, 3%);

  --accent-1-100: hsl(73, 93%, 80%);
  --accent-1-200: hsl(76, 80%, 76%);
  --accent-1-300: hsl(80, 96%, 75%);
  --accent-1-400: hsl(84, 98%, 69%);
  --accent-1-500: hsl(86, 90%, 60%);
  --accent-1-600: hsl(90, 71%, 40%);
  --accent-1-700: hsl(90, 85%, 25%);
  --accent-1-800: hsl(105, 89%, 10%);
  --accent-1-900: hsl(115, 95%, 5%);

  --accent-2-100: hsl(62, 95%, 81%);
  --accent-2-200: hsl(62, 90%, 71%);
  --accent-2-300: hsl(60, 85%, 65%);
  --accent-2-400: hsl(60, 75%, 51%);
  --accent-2-500: hsl(55, 90%, 55%);
  --accent-2-600: hsl(52, 75%, 51%);
  --accent-2-700: hsl(50, 85%, 41%);
  --accent-2-800: hsl(45, 80%, 32%);
  --accent-2-900: hsl(40, 95%, 10%);

  --accent-3-100: hsl(10, 95%, 89%);
  --accent-3-200: hsl(7, 91%, 75%);
  --accent-3-300: hsl(5, 87%, 69%);
  --accent-3-400: hsl(3, 82%, 54%);
  --accent-3-500: hsl(0, 88%, 42%);
  --accent-3-600: hsl(0, 85%, 32%);
  --accent-3-700: hsl(360, 87%, 26%);
  --accent-3-800: hsl(359, 90%, 19%);
  --accent-3-900: hsl(358, 92%, 9%);

  /* Shadows */
  --shadow-1: 0 2px 4px rgba(0, 0, 0, 0.2);
  --shadow-2: 0 4px 8px rgba(0, 0, 0, 0.2);
  --shadow-3: 0 8px 16px rgba(0, 0, 0, 0.2);
  --shadow-4: 0 12px 24px rgba(0, 0, 0, 0.2);
  --shadow-5: 0 16px 32px rgba(0, 0, 0, 0.2);

  /* Border radius */
  --radius-small: 8px;
  --radius-medium: 16px;
  --radius-large: 32px;
  --radius-full: 50%;

  /* Borders */
  --separator-light: solid 2px var(--grey-200);
  --separator-dark: solid 2px var(--grey-400);

  /* Depth */
  --raise-grey-small: inset 0 1px 0 var(--grey-500);
  --raise-grey-large: inset 0 2px 0 var(--grey-500);
  --raise-accent-3-small: inset 0 1px 0 var(--accent-3-400);
  --raise-accent-3-large: inset 0 2px 0 var(--accent-3-400);
  --raise-small-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
  --raise-large-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.2);
  --inset: 0 2px 0 hsla(0, 0%, 100%, 0.15);
  --inset-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1);

  /* Content Width */
  --max-width: var(--spacing-16);
}

body {
  width: auto;
  background-color: var(--grey-900);
  color: var(--grey-100);
  font-weight: var(--font-weight-normal);
}

main {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-4) 0;
}

button:hover {
  cursor: pointer;
}

button:active {
  box-shadow: none;
}
