.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  padding: 0 var(--spacing-4);
  margin-bottom: var(--spacing-4);
  width: 100%;
}

.heading h3 {
  font-size: var(--font-size-6);
}

.button-container {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  gap: var(--spacing-4);
  min-width: var(--spacing-11);
}

.new-folder-button,
.open-upload-modal-button {
  border: none;
  border-radius: var(--radius-small);
  background-color: var(--grey-700);
  color: var(--grey-100);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-3) var(--spacing-4);
  box-shadow: var(--raise), var(--raise-shadow);
}

.files-container {
  max-width: var(--max-width);
  width: 100%;
  height: 100%;
}

.files-content {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(var(--spacing-4), max-content));
  font-size: var(--font-size-2);
}

.files-header {
  background-color: var(--grey-800);
  font-weight: var(--font-weight-bold);
}

.files-content > * {
  padding: var(--spacing-4) var(--spacing-3);
}

.files-row {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: solid 1px var(--grey-800);
}

.item-name {
  text-decoration: none;
  color: var(--grey-100);
  margin-right: auto;
  overflow: hidden;
}

.item-date {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.item-date .separator {
  display: none;
}

.folder-action {
  position: relative;
}

.folder-action > button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.folder-button-container {
  display: flex;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
}

.files-header:nth-of-type(2),
.item-size {
  display: none;
}

@media (min-width: 760px) {
  .files-container {
    border: solid 1px var(--grey-800);
  }

  .files-content {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(var(--spacing-4), max-content));
    font-size: var(--font-size-3);
  }

  .item-date {
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-1);
  }

  .item-date .separator {
    display: block;
  }

  .files-header:nth-of-type(2),
  .item-size {
    display: flex;
  }

  .item-size {
    justify-content: flex-end;
  }
}
