.file-upload-modal {
  padding: var(--spacing-6);
  padding-bottom: var(--spacing-5);
  width: 100%;
  max-width: var(--spacing-13);
}

.file-upload-modal .close-modal-button {
  top: var(--spacing-2);
  right: var(--spacing-2);
}

.file-upload-modal form {
  display: flex;
  flex-direction: column;
}

.upload-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-7);
  margin-bottom: var(--spacing-5);
  background-color: var(--grey-900);
  box-shadow: var(--inset), var(--inset-shadow);
  border-radius: var(--radius-small);
  font-weight: var(--font-weight-bold);
}

.upload-zone svg {
  height: var(--spacing-8);
  width: var(--spacing-8);
  margin-bottom: var(--spacing-3);
}

.upload-zone:hover {
  cursor: pointer;
}

.upload-zone input {
  display: none;
}

.upload-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.upload-preview .file-info.size {
  font-weight: var(--font-weight-normal);
}

.file-upload-modal .button-container {
  display: flex;
  gap: var(--spacing-3);
  align-self: flex-end;
}
