.folder-modal label {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
}

.folder-modal .input-container {
  display: flex;
  gap: var(--spacing-3);
  margin-top: var(--spacing-2);
}

.folder-modal input {
  border: none;
  border-radius: var(--radius-small);
  background-color: var(--grey-900);
  color: var(--grey-100);
  font-weight: var(--font-weight-normal);
  padding: var(--spacing-1) var(--spacing-2);
  box-shadow: var(--inset), var(--inset-shadow);
}
