.modal {
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: none;
  border-radius: var(--radius-medium);
  box-shadow: var(--shadow-3);
  padding: var(--spacing-3) var(--spacing-4);
  padding-top: var(--spacing-4);
  background-color: var(--grey-800);
  color: var(--grey-100);
}

.modal::backdrop {
  backdrop-filter: blur(1px) brightness(0.7);
}

.modal-button {
  border: none;
  border-radius: var(--radius-small);
  padding: var(--spacing-1) var(--spacing-2);
  background-color: var(--grey-700);
  color: var(--grey-100);
  box-shadow: var(--raise-grey-small), var(--raise-small-shadow);
}

.modal-button[type="submit"] {
  background-color: var(--primary-600);
  box-shadow: var(--raise-primary-large), var(--raise-large-shadow);
}

.close-modal-button {
  position: absolute;
  top: var(--spacing-4);
  right: var(--spacing-4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-1);
  border: none;
  border-radius: var(--radius-full);
  background-color: var(--accent-3-600);
}

.close-modal-button svg {
  height: var(--spacing-4);
  width: var(--spacing-4);
  color: var(--grey-100);
}
